@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-aizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*------------------*/

.rub:after {
  content: '₽';
}

.usd:after {
  content: '$';
}

.euro:after {
  content: '€';
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0 20px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #fff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: '';
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 14px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #f4fcff;
}

.header {
  padding: 35px;
  height: auto;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.header__icon img {
  width: 551px;
  height: 451px;
}

.header__logo {
  text-align: center;
  padding-bottom: 20px;
}

.container {
  max-width: 1130px;
  padding: 0 10px;
  height: auto;
  margin: auto;
}

.wrapper {
  padding-bottom: 145px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link__telegram {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-right: 35px;
  color: #2f4b6e;
  text-transform: uppercase;
}

.app {
  padding: 12px 36px 13px 17px;
  background: #f8e587;
  border-radius: 30.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.app:hover {
  background: #dbc34e;
}

.app__text {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  padding-left: 10px;
  font-weight: 600;
  padding-top: 2px;
  color: #2f4b6e;
  text-transform: uppercase;
  margin: auto;
}

.info__title {
  font-size: 42px;
  font-weight: 800;
  color: #2f4b6e;
  text-align: center;
}

.info__text {
  font-size: 24px;
  color: #2f4b6e;
  padding-bottom: 50px;
}

.info__prompt {
  font-size: 13px;
  color: #738091;
  padding-top: 16px;
}

.modify .app {
  max-width: 164px;
  margin-bottom: 10px;
}

.footer-header {
  padding-bottom: 78px;
  border-bottom: solid 1px #e1e8f2;
  margin-top: 186px;
}

.footer-header__text {
  color: #2f4b6e;
  font-size: 21px;
  max-width: 353px;
  margin-left: 31px;
}

.footer-header__button {
  font-size: 16px;
  font-family: 'Nunito';
  color: #2f4b6e;
  font-weight: 800;
  padding: 10px 20px;
  border-radius: 30.5px;
  border: solid 2px #d0dceb;
  margin-right: 50px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.footer-header__button:hover {
  background: #bfc4c6;
  color: #F0F0F0;
}

.pros {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4fcff), to(#e8f5fa));
  background-image: -o-linear-gradient(top, #f4fcff, #e8f5fa);
  background-image: linear-gradient(to bottom, #f4fcff, #e8f5fa);
  border-bottom-right-radius: 200px;
  padding-top: 100px;
  padding-bottom: 128px;
}

.pros__title {
  max-width: 522px;
  margin: auto;
  color: #2f4b6e;
  font-size: 42px;
  font-weight: 800;
  text-align: center;
}

.pros__text {
  color: #2f4b6e;
  max-width: 577px;
  margin: auto;
  padding-top: 23px;
  padding-bottom: 100px;
  text-align: center;
}

.advantages {
  max-width: 730px;
  margin: auto;
}

.advantage {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

.advantage__text {
  font-weight: bold;
  font-size: 21px;
  color: #2f4b6e;
}

.advantage.active {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-top: 50px;
}

.advantage__img {
  margin: auto;
  padding-bottom: 30px;
  text-align: center;
}

.section__item:last-child {
  margin-bottom: 170px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.item__reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.item__reverse .part-text {
  margin-right: 0;
  margin-left: 20px;
}

.part-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
}

.part-item__main-icon {
  z-index: 2;
  position: relative;
}

.part-item__setka {
  position: absolute;
  top: -25px;
  left: 255px;
}

.part-item__path {
  position: absolute;
  left: -65px;
  top: 240px;
  z-index: 1;
}

.part-item__oval {
  position: absolute;
  left: 311px;
  top: 268px;
  z-index: 3;
  -webkit-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.part-item__oval.hover {
  top: 240px;
  left: 300px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.part-item__blue-circle {
  position: absolute;
  top: 405px;
  left: -10px;
  z-index: 10;
}

.part-item .modify-path {
  top: 128px;
  left: -70px;
}

.part-item .modify-triangle {
  position: absolute;
  top: 418px;
  left: 318px;
  z-index: 5;
}

.part-item .modify-circle {
  position: absolute;
  top: 45px;
  left: 85px;
}

.part-item .modify-oval {
  left: -12px;
  top: 0;
}

.part-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  color: #2f4b6e;
  margin-right: 150px;
}

.part-text__title {
  font-size: 42px;
  font-weight: 800;
  max-width: 400px;
}

.part-text__text {
  font-size: 24px;
  max-width: 400px;
}

.reviews {
  background: #f8e587;
  border-top-left-radius: 350px;
  padding-bottom: 165px;
  position: relative;
}

.reviews__button {
  text-align: center;
}

.reviews__style {
  padding-top: 173px;
}

.reviews__style-text {
  font-size: 21px;
}

.button-reviews {
  padding: 19px 47px 17px 20px;
  border: solid 2px #2f4b6e;
  border-radius: 30.5px;
  max-width: 300px;
  margin: auto;
  display: block;
  background: #f8e587;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.button-reviews:hover {
  background: #dbc34e;
}

.button-reviews__message {
  padding-right: 32px;
}

.button-reviews__text {
  font-size: 16px;
  color: #2f4b6e;
  text-transform: uppercase;
  font-weight: 800;
}

.icons-reviews__0 {
  position: absolute;
  top: 0;
  right: 0;
}

.icons-reviews__1 {
  position: absolute;
  top: 84px;
  left: 48px;
  width: 112px;
  height: 112px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.icons-reviews__2 {
  top: 330px;
  left: 148px;
  position: absolute;
  width: 152px;
  height: 152px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.icons-reviews__3 {
  left: 15px;
  bottom: -80px;
  position: absolute;
  width: 145px;
  height: 145px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.icons-reviews__4 {
  top: 243px;
  left: 369px;
  position: absolute;
  width: 145px;
  height: 145px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.icons-reviews__5 {
  left: 300px;
  bottom: -50px;
  position: absolute;
  width: 209px;
  height: 209px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.icons-reviews__6 {
  top: 113px;
  left: 193px;
  position: absolute;
  width: 173px;
  height: 173px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.icons-reviews__7 {
  top: 218px;
  right: 29px;
  position: absolute;
  width: 111px;
  height: 111px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.icons-reviews__8 {
  top: -40px;
  right: 40px;
  position: absolute;
  width: 158px;
  height: 158px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.icons-reviews__9 {
  right: 100px;
  bottom: 34px;
  position: absolute;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  width: 152px;
  height: 152px;
}

.icons-reviews__10 {
  bottom: -100px;
  right: 0;
  position: absolute;
  width: 145px;
  height: 145px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.icons-reviews__11 {
  top: 238px;
  right: 141px;
  position: absolute;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  width: 145px;
  height: 145px;
}

.icons-reviews__12 {
  bottom: -62px;
  right: 265px;
  position: absolute;
  width: 184px;
  height: 184px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.icons-reviews__13 {
  top: 97px;
  right: 281px;
  position: absolute;
  width: 173px;
  height: 173px;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.modify-society {
  border: 0;
}

.society__family {
  display: block;
  margin: auto;
  padding-top: 80px;
  max-width: 100%;
}

.footer {
  background: #e6f8ff;
}

.footer__icons {
  padding-top: 70px;
}

.footer__text {
  text-align: center;
  color: #2f4b6e;
  font-size: 14px;
  margin-top: 30px;
  padding-bottom: 80px;
}

.icons-footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons-footer__telegram {
  width: 18px;
  height: 15px;
}

.icons-footer__facebook {
  width: 9px;
  height: 16px;
}

.footer-icon-telegram {
  padding: 13px 11px 10px 10px;
  border: solid 2px #d0dceb;
  border-radius: 50%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.footer-icon-telegram:hover {
  background: #b5d4e0;
}

.footer-icon-facebook {
  padding: 10px 15px;
  border: solid 2px #d0dceb;
  border-radius: 50%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.footer-icon-facebook:hover {
  background: #b5d4e0;
}

.footer-icon-twitter {
  padding: 13px 10.5px 9px 12px;
  border: solid 2px #d0dceb;
  border-radius: 50%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.footer-icon-twitter:hover {
  background: #b5d4e0;
}

.footer-icon-instagram {
  padding: 13px 12px 9px 13px;
  border: solid 2px #d0dceb;
  border-radius: 50%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.footer-icon-instagram:hover {
  background: #b5d4e0;
}

.anim-items {
  -webkit-transform: translate(0, 120px);
      -ms-transform: translate(0, 120px);
          transform: translate(0, 120px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.anim-items.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

@media (min-width: 768px) {
  .icons-reviews__1:hover {
    width: 124px;
    height: 124px;
    left: 42px;
    top: 78px;
  }

  .icons-reviews__2:hover {
    width: 164px;
    height: 164px;
    margin-left: -6px;
    margin-top: -6px;
  }

  .icons-reviews__3:hover {
    width: 157px;
    height: 157px;
    margin-left: -6px;
    margin-top: -6px;
  }

  .icons-reviews__4:hover {
    width: 157px;
    height: 157px;
    margin-left: -6px;
    margin-top: -6px;
  }

  .icons-reviews__5:hover {
    width: 221px;
    height: 221px;
    margin-left: -6px;
    margin-top: -6px;
  }

  .icons-reviews__6:hover {
    width: 185px;
    height: 185px;
    margin-left: -6px;
    margin-top: -6px;
  }

  .icons-reviews__7:hover {
    width: 123px;
    height: 123px;
    margin-left: -6px;
    margin-top: -6px;
  }

  .icons-reviews__8:hover {
    width: 170px;
    height: 170px;
    margin-left: -6px;
    margin-top: -6px;
  }

  .icons-reviews__9:hover {
    width: 164px;
    height: 164px;
    margin-left: -6px;
    margin-top: -6px;
  }

  .icons-reviews__10:hover {
    width: 157px;
    height: 157px;
    margin-left: -6px;
    margin-top: -6px;
  }

  .icons-reviews__11:hover {
    width: 157px;
    height: 157px;
    margin-left: -6px;
    margin-top: -6px;
  }

  .icons-reviews__12:hover {
    width: 196px;
    height: 196px;
    margin-left: -6px;
    margin-top: -6px;
  }

  .icons-reviews__13:hover {
    width: 185px;
    height: 185px;
    margin-left: -6px;
    margin-top: -6px;
  }
}

@media (min-width: 992px) {
  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1530px) {
  .icons-reviews__2 {
    top: 310px;
    left: 178px;
  }

  .icons-reviews__4 {
    display: none;
  }

  .icons-reviews__6 {
    left: 223px;
  }
}

@media (max-width: 1350px) {
  .reviews {
    border-top-left-radius: 200px;
  }

  .icons-reviews__2 {
    display: none;
  }

  .icons-reviews__3 {
    bottom: 130px;
  }

  .icons-reviews__5 {
    left: 238px;
  }

  .icons-reviews__6 {
    top: 70px;
  }

  .icons-reviews__7 {
    display: none;
  }

  .icons-reviews__9 {
    right: 67px;
    bottom: 134px;
  }

  .icons-reviews__10 {
    display: none;
  }

  .icons-reviews__11 {
    display: none;
  }

  .icons-reviews__12 {
    right: 135px;
  }

  .icons-reviews__13 {
    right: 181px;
  }
}

@media (max-width: 1060px) {
  .header__icon img {
    width: 480px;
    height: 395px;
  }

  .footer-header {
    margin-top: 100px;
  }
}

@media (max-width: 1024px) {
  .icons-reviews__5 {
    display: none;
  }

  .icons-reviews__6 {
    display: none;
  }

  .icons-reviews__12 {
    display: none;
  }

  .icons-reviews__13 {
    display: none;
  }
}

@media (max-width: 1023px) {
  .part-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    margin-right: 0;
  }

  .part-text__title {
    font-size: 30px;
  }

  .part-text__text {
    font-size: 18px;
    max-width: 300px;
  }
}

@media (max-width: 1000px) {
  .part-item__setka {
    display: none;
  }
}

@media (max-width: 919px) {
  .info__title {
    font-size: 33px;
    padding-bottom: 20px;
  }

  .info__text {
    font-size: 18px;
    margin: auto;
    max-width: 500px;
    text-align: center;
  }
}

@media (max-width: 890px) {
  .header__icon img {
    width: 440px;
    height: 350px;
  }
}

@media (max-width: 850px) {
  .part-item__oval {
    left: 261px;
  }
}

@media (max-width: 839px) {
  .wrapper {
    padding-bottom: 40px;
  }

  .info__prompt {
    text-align: center;
  }

  .modify .app {
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 836px) {
  .header__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .header__icon img {
    display: none;
  }
}

@media (max-width: 816px) {
  .footer-header {
    margin-top: 50px;
  }
}

@media (max-width: 800px) {
  .footer-header__text {
    font-size: 16px;
    max-width: 300px;
  }

  .section__item:last-child {
    margin-bottom: 70px;
  }

  .item {
    margin-top: 50px;
  }

  .item:last-child {
    margin-top: 0;
  }

  .part-item {
    display: none;
  }

  .part-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .part-text__title {
    max-width: 100%;
    text-align: center;
  }

  .part-text__text {
    max-width: 60%;
    text-align: center;
    margin: auto;
    padding: 20px 0;
  }

  .icons-reviews {
    display: none;
  }
}

@media (max-width: 768px) {
  .flex__wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-header {
    padding-bottom: 40px;
  }

  .footer-header__button {
    display: none;
  }

  .pros {
    padding-top: 10px;
  }

  .advantage {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .reviews {
    border-top-left-radius: 0;
  }
}

@media (max-width: 628px) {
  .pros {
    padding-bottom: 50px;
    border-bottom-right-radius: 0;
  }

  .pros__text {
    padding: 0 20px 30px;
  }

  .advantage {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 40px 0;
  }

  .advantage.active {
    padding: 40px 0;
    margin-top: 0;
  }
}

@media (max-width: 608px) {
  .header__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .flex.block {
    display: block;
  }
}

@media (max-width: 500px) {
  .part-text__text {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .header__links {
    display: block;
  }

  .link__telegram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
    padding-top: 12px;
    margin-right: 0;
  }

  .app {
    max-width: 170px;
    text-align: center;
    margin: auto;
  }

  .footer-header__icon {
    width: 38px;
    height: 40px;
  }

  .footer-header__text {
    margin-left: 15px;
  }
}